<table class="table table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>Username</th>
    </tr>
    <% person.includes.forEach( function(model) { %>
    <tr>
        <td><%= model.id %></td>
        <td><%= model.username %></td>
    </tr>
    <% }); %>
</table>